* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: aliceblue;
    background-color: #000;
}

.pointer {
    cursor: pointer;
}

.btn-outline-dark {
    background-color: #fff;
}